<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557769551007-v37vmm1q21bcmj0cqle55ajpv5dd0frp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557769551007-v37vmm1q21bcmj0cqle55ajpv5dd0frp</string>
	<key>API_KEY</key>
	<string>AIzaSyAlOwanRH9wxjAhigkjCmy34R2Xne254-8</string>
	<key>GCM_SENDER_ID</key>
	<string>557769551007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolist-3ab04</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-3ab04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557769551007:ios:3f0c19bc8c6d770f5906aa</string>
</dict>
</plist>